.social {
	ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		font-size: 0;

		li {
			display: inline-block;

			a {
				display: inline-block;
				margin-left: vw(46);
				transition: opacity 0.15s;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}

				&:hover {
					opacity: 0.7;
					transition: opacity 0.15s;
				}
			}

			.fb {
				width: vw(12);
				height: vw(22);
			}

			.tw {
				width: vw(22);
				height: vw(18);
			}

			.insta {
				width: vw(19);
				height: vw(19);
			}
		}
	}
}