.first__screen
	include header
	.container
		.first__screen-heading
			img(src="/images/main-logo.png" alt="")
		.first__screen-date
			| 14 April 2019
		.first__screen-buttons
			a.first__screen-tickets(href="#")
				| Get Ticket
			a.first__screen-play(href="#")
				| watch trailer
		.first__screen-descr
			| John Snow, Sansa and Arya walk along the Starck crypt. Along the walls are statues of&nbsp;various characters
			| in&nbsp;the series. When heroes pass by&nbsp;them, phrases
			| are heard, somehow related to&nbsp;the past.
		.first__screen-arrow
			+svg("arrow")