.header
	.container
		.header__left
			nav.header__menu
				ul
					li
						a(href="#")
							| Home
					li
						a(href="#")
							| About
					li
						a(href="#")
							| Videos
					li
						a(href="#")
							| Shop
					li
						a(href="#")
							| Gallery
		.header__right
			include social