// stylelint-disable no-empty-source

@font-face {
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-family: "latoregular";
	font-weight: 400;
	font-style: normal;
}
